{% extends 'blog/base.html' %}
{% block content %}

    <div class="container mtb">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <h3>
                    Bitte logge dich ein, damit du deinen Klassenblog sehen kannst.
                </h3>
                <form class="form-horizontal" name="ChangePWForm" action="/change_password/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="control-group">
                    <label class="control-label" for="password">altes Passwort</label>
                    <div class="controls">
                        <input type="password" name="password_old" id="password" placeholder="Password old">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">neues Passwort</label>
                    <div class="controls">
                        <input type="password" name="password_new1" id="password" placeholder="Password new">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">neues Passwort wiederholen</label>
                    <div class="controls">
                        <input type="password" name="password_new2" id="password" placeholder="Password new">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="save btn btn-default">Submit</button>
                    </div>
                </div>
                </form>

            </div>
         </div>
    </div>

{% endblock %}