{% extends 'blog/base.html' %}
{% block content %}

	<div class="container mtb" style="	margin-bottom: 10px">
		<div class="row" style="background: white">
			<!-- SIDEBAR -->
			<div class="col-lg-4 col-lg-push-8">
				<h4>Search</h4>
				<div class="hline"></div>
				<p>
					<br/>
					<input type="text" class="form-control" placeholder="funktioniert noch nicht...">
				</p>
				<!--		<div class="spacing"></div> -->

			</div>

	 <! -- BLOG POSTS LIST -->
			<div class="col-lg-8 col-lg-pull-4">
				<div class="panel panel-default">
					<div class="panel-footer">

					</div>
				</div>
			</div><!--/col-lg-8 -->
		</div><!--/row -->
	</div><!--/container -->
{% endblock %}
