{% extends 'blog/base.html' %}

{% block content %}
<div id="headerwrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>Wilkommen auf meiner Homepage {{ user.username }}!</h3>
				<h1>Der Unterrichtsblog zum nachlesen</h1>
				<h5>Auf dieser Seite wird zusätzliches Unterrichtsmaterial veröffentlicht. Um dieses einsehen zu können ist es erforderlich, dass man einen aktiven, für den speziellen Kurs freigeschalteten Benutzeraccount besitzt. Dieser wurde im Unterricht verteilt, sollten die Zugangsdaten vergessen worden sein, muss dies im Unterricht mitgeteilt werden.</h5>
			</div>
			<!--<div class="col-lg-8 col-lg-offset-2 img">-->
				<!--<img src="assets/img/browser.png" class="img-responsive">-->
			<!--</div>-->
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
{% endblock %}