{% extends 'blog/base.html' %}

{% block content %}

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	
	 <!--<div id="blue">-->
	    <!--<div class="container">-->
			<!--<div class="row">-->
				<!--<h3>EFGK2PH 16/17 - Unterricht</h3>-->
			<!--</div>&lt;!&ndash; /row &ndash;&gt;-->
	    <!--</div> &lt;!&ndash; /container &ndash;&gt;-->
	<!--</div>&lt;!&ndash; /blue &ndash;&gt;-->

	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
		<div class="row">
			<!-- SIDEBAR -->
			<div class="col-lg-4 col-lg-push-8">
				<h4>Search</h4>
				<div class="hline"></div>
				<p>
					<br/>
					<input type="text" class="form-control" placeholder="funktioniert noch nicht...">
				</p>
				<!--		<div class="spacing"></div> -->

			</div>

	 <! -- BLOG POSTS LIST -->
			<div class="col-lg-8 col-lg-pull-4">
			
				{% for post in posts %}
				<p><img class="img-rounded" display: block max-width: 100% height: auto  src={{ post.mainpict.url }}></p>
				<a href={% url 'blog:post_detail' pk=post.pk %}><h3 class="ctitle">{{ post.title }}</h3></a>
				<p><csmall>{{ post.pdate }}</csmall> | <csmall>{{ post.author }}</csmall> | <csmall2>Comments: {{ post.comments.count }}</csmall2></p>
				<p>{{ post.text|safe }}</p>
				<p><a href={% url 'blog:post_detail' pk=post.pk %}>[Read More]</a></p>
				<div class="hline"></div>
				<div class="spacing"></div>
				{% endfor %}

			</div><!--/col-lg-8 -->
				
	 	</div><!--/row -->
	 </div><!--/container -->
{% endblock %}
