{% extends 'blog/base.html' %}
{% block content %}
	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
		<div class="row">
			<!-- SIDEBAR -->
			<div class="col-lg-4 col-lg-push-8">
				<h4>Search</h4>
				<div class="hline"></div>
				<p>
					<br/>
					<input type="text" class="form-control" placeholder="Search something">
				</p>
				<!--		<div class="spacing"></div> -->

			</div>

	 <! -- BLOG POSTS LIST -->
			<div class="col-lg-8 col-lg-pull-4">
				<p><img class="img-rounded" display: block max-width: 100% height: auto  src={{ post.mainpict.url }}></p>
				<h3 class="ctitle">{{ post.title }}</h3>
				<p>
					{{ post.text|safe }}
				</p>
			</div><!--/col-lg-8 -->

			<hr>
			<a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Add comment</a>
			{% for comment in post.comments.all %}
				<div class="comment">
					<div class="date">{{ comment.created_date }}</div>
					<strong>{{ comment.author }}</strong>
					<p>{{ comment.text|linebreaks }}</p>
				</div>
				{% empty %}
					<p>No comments here yet :(</p>
			{% endfor %}
		</div><!--/row -->
	</div><!--/container -->
{% endblock %}
